body {
    background-color: rgba(226, 247, 37, 0.568);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;

}
h1 {

    text-align: center;
    color: black;
    
}
h2 {
    width: 95%;
    margin: auto;
}
.listtitle {
    background-color: rgba(37, 226, 247, 0.99);
    color: white;   
    column-width: auto;
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
.show {
    display: block;
}
.result{
    display: inline-block;

}

#resultwrapper {
    justify-content: space-around;
    display: flex;
}
li {
    list-style-type: none; 
    font-size: large;
    padding: 2px;
    cursor: pointer;   
}
.container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    
}

#list {
    display: flex;
    justify-content: space-around;
}
#textbox {
    width: 95%;
    margin: auto;
}
input[type=text]{
    font-size: large;
}